.App {
    background-image: url("resources/img/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 151px ;
}


@media (max-width: 615px) {
    .container {
        padding: 0 30px 122px 30px;
    }
}


